


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$FaqFrontend-primary: mat.define-palette(mat.$grey-palette, 900);
$FaqFrontend-accent:  mat.define-palette(mat.$blue-palette, 700, 500, 900);

// The warn palette is optional (defaults to red).
$FaqFrontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$FaqFrontend-theme: mat.define-light-theme((
  color: (
    primary: $FaqFrontend-primary,
    accent: $FaqFrontend-accent,
    warn: $FaqFrontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($FaqFrontend-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0 auto;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #ededed ;
}

.tool-header{
  background: black;
    color: white;
    text-align: center;
    padding: 20px;
    p{
      margin: 0;
      text-transform: uppercase;
    }
}
.tool-toolbar{
  // display: flex;
  // justify-content: flex-end;
  gap: 15px;
  align-items: center;
  // align-items: flex-end;
  display: flex;
  // justify-content: space-between;
  flex-direction: row;
  // margin: 0px 20px;
  padding: 10px;
  /* border: 1px solid; */
  border-bottom-color: var(--mat-table-row-item-outline-color, rgba(0, 0, 0, 0.12));
  border-bottom-width: var(--mat-table-row-item-outline-width, 1px);
  border-bottom-style: solid;

  border-top-color: var(--mat-table-row-item-outline-color, rgba(0, 0, 0, 0.12));
  border-top-width: var(--mat-table-row-item-outline-width, 1px);
  border-top-style: solid;

  .toolbar-right:first-of-type{
    margin-left: auto;
  }
  .toolbar-left:last-of-type{
    margin-right: auto;
  }

  .toolbar-center{
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  .toolbar-right{
    display: flex;

    

  }
}    

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Montserrat-Regular.ttf');
  
}
:root {
  --edited-color: #c3bb55;
  --saved-color: #72c67b;
  --delete-color: #f01313b8;
}